<div class="site-footer" style="position: relative; top: 0cm; height: 20px;">
    <div class="container" style="margin-bottom: 0cm;">
        <div class="row justify-content-center copyright">
            <div class="col-lg-7 text-center">
                <div class="widget">
                    <ul class="social list-unstyled">
                        <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                    </ul>
                </div>
                <div class="widget">
                    <p>Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                        template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank" rel="nofollow noopener">Colorlib</a>
                    </p>
                    <div class="d-block">
                        <a href="#" class="m-2">Terms &amp; Conditions</a>/
                        <a href="#" class="m-2">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>