<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close" >
            <span class="icofont-close js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<nav class="site-nav" style="height: 62px;">
    <div class="container" style="">
        <div class="site-navigation">
            <div class="row" style="position: relative; top: -.4cm;">
                <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
                    <a href="{% url 'home:index' %}" class="logo m-0 text-uppercase" style="font-weight: bold; font-size: large;"><strong>TECH BLOG</strong></a>
                </div>
                <div class="col-md-3 order-3 order-md-1" style="margin-top: .25cm;">
                    <div class="custom-control custom-switch mr-5">
                        <input type="checkbox" class="custom-control-input" id="selector">
                        <label class="custom-control-label" for="selector"><strong>Dark Mode</strong></label>
                    </div>
                </div>
                <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
                    <div class="d-flex">
                        <ul class="list-unstyled social me-auto">
                            {% if not request.user.is_authenticated %}
                            <li><a href="{% url 'home:login' %}" class="button"
                                    style="font-weight: bold; font-size: medium; position: relative; right: 0.5cm;">
                                    <h6 class="heading"><strong>Login</strong></h6>
                                </a>
                            </li>
                            <li><a href="{% url 'users:signup' %}" class="button"
                                    style="font-weight: bold; font-size: medium; position: relative; right: 0.6cm;">
                                    <h6 class="heading"><strong>SignUp</strong></h6>
                                </a>
                            </li>
                            {% else %}
                            <li><a href="{% url 'home:userProfile' %}" class="button"
                                    style="font-weight: bold; font-size: medium; position: relative; right: 0.6cm;">
                                    <h6 class="heading"><strong>Profile</strong></h6>
                                </a>
                            </li>
                            <li><a href="{% url 'home:logout' %}" class="button"
                                    style="font-weight: bold; font-size: medium; position: relative; right: 0.6cm;">
                                    <h6 class="heading"><strong>LogOut</strong></h6>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block"
                            data-toggle="collapse" data-target="#main-navbar">
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="js-clone-nav d-none d-lg-inline-none text-start site-menu float-end">
                <li class="active"><a href="{% url 'home:index' %}">Home</a></li>
                <li class="has-children">
                    <a href="{%url 'blogs:create_blog' %}">Create Blog</a>
                    <a href="{%url 'home:blogList' %}">Blogs</a>
                    <ul class="dropdown">
                        <li><a href="#">Technology</a></li>
                        <li class="has-children">
                            <a href="#">Dropdown</a>
                            <ul class="dropdown">
                                <li><a href="#">Sub Menu One</a></li>
                                <li><a href="#">Sub Menu Two</a></li>
                                <li><a href="#">Sub Menu Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Trend</a></li>
                <li><a href="#">Technology</a></li>
            </ul>
        </div>
    </div>
</nav>