{% extends 'base.html' %}

{% block title %}
| Blog_Detail
{% endblock %}
{% block content %}

{% load static %}
<div class="section post-section pt-5">
    <div class="container">
                <div class="row shareable">
                    <div class="col-md-12">
                        <p><i class="fa fa-link"></i> &nbsp;Shareable Link : <span id="shareLink" class="link-text">{{request.get_host}}{{ blog.sharekey.slink }}</span>
                            <a href="{% url 'blogs:createLink' blog.pk %}" id="createLink"
                                class="btn btn-success link">Reset Link</a>
                        </p>
                    </div>
                </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <img src="{% static 'images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg' %}" alt="Image"
                        class="author-pic img-fluid rounded-circle mx-auto">
                </div>
                <span class="d-block text-center">{{blog.author.user.username}}</span>
                <span class="date d-block text-center small text-uppercase text-black-50 mb-5">{{blog.date}}</span>
                <h2 class="heading text-center">{{blog.title}}
                </h2>
                <p class="lead mb-4 text-center">Far far away, behind the word mountains, far from the countries
                    Vokalia and Consonantia, there live the blind texts.</p>
                <img src="{{blog.image.url}}" alt="Image" class="img-fluid rounded mb-4 justify-content-center ">
                <p>{{ blog.content |safe }}</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                    is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>
                <blockquote>
                    <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild
                        Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her
                        seven versalia, put her initial into the belt and made herself on the way.</p>
                </blockquote>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost
                    unorthographic life One day however a small line of blind text by the name of Lorem Ipsum
                    decided to leave for the far World of Grammar.</p>
                <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline
                    of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own
                    road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.
                </p>
                <div class="row g-1 my-5">
                    <div class="col-lg-4">
                        <a href="{% static 'images/post_lg_1.jpg' %}" class="glightbox"><img
                                src="{% static 'images/xpost_lg_1.jpg.pagespeed.ic.vC5886c_pL.jpg' %}" alt="Image"
                                class="img-fluid rounded"></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% static 'images/post_lg_2.jpg' %}" class="glightbox"><img
                                src="{% static 'images/xpost_lg_2.jpg.pagespeed.ic.YbC8FwTKmr.jpg' %}" alt="Image"
                                class="img-fluid rounded"></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% static 'images/post_lg_3.jpg' %}" class="glightbox"><img
                                src="{% static 'images/xpost_lg_3.jpg.pagespeed.ic.qhXWgmNnIn.jpg' %}" alt="Image"
                                class="img-fluid rounded"></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% static 'images/post_lg_4.jpg' %}" class="glightbox"><img
                                src="{% static 'images/xpost_lg_4.jpg.pagespeed.ic.oJIp7wddWl.jpg' %}" alt="Image"
                                class="img-fluid rounded"></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% static 'images/post_lg_1.jpg' %}" class="glightbox"><img
                                src="{% static 'images/xpost_lg_1.jpg.pagespeed.ic.vC5886c_pL.jpg' %}" alt="Image"
                                class="img-fluid rounded"></a>
                    </div>
                    <div class="col-lg-4">
                        <a href="{% static 'images/post_lg_2.jpg' %}" class="glightbox"><img
                                src="{% static 'images/xpost_lg_2.jpg.pagespeed.ic.YbC8FwTKmr.jpg' %}" alt="Image"
                                class="img-fluid rounded"></a>
                    </div>
                </div>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                    live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics,
                    a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                    is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>
                <div class="row mt-5 pt-5 border-top">
                    <div class="col-12">
                        <span class="fw-bold text-black small mb-1">Share</span>
                        <ul class="social list-unstyled">
                            <li><a href="#"><span class="icon-facebook"></span></a></li>
                            <li><a href="#"><span class="icon-twitter"></span></a></li>
                            <li><a href="#"><span class="icon-linkedin"></span></a></li>
                            <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="heading">Related</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="post-entry d-md-flex small-horizontal mb-5">
                    <div class="me-md-5 thumbnail mb-3 mb-md-0">
                        <img src="{% static 'images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg' %}" alt="Image"
                            class="img-fluid" >
                    </div>
                    <div class="content">
                        <div class="post-meta mb-3">
                            <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
                            &mdash;
                            <span class="date">July 2, 2020</span>
                        </div>
                        <h2 class="heading"><a href="{% static 'home:open_blog' %}">Your most unhappy customers are
                                your greatest
                                source of learning.</a></h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts.</p>
                        <a href="#" class="post-author d-flex align-items-center">
                            <div class="author-pic">
                                <img src="{% static 'images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg' %}" alt="Image">
                            </div>
                            <div class="text">
                                <strong>Sergy Campbell</strong>
                                <span>Author, 26 published post</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-light mx-md-3 sec-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: 1rem;">
                <h2 class="h4 fw-bold">Leave a Comment</h2>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            <br />
            <br />
            <div class="main-comment-section">
                {{ comments.count }} Comment{{ comments|pluralize }}
                {% for comment in comments %}
                <div class="row">
                    <div class="col-1" style="text-align: center;">
                        <div class="upvote">
                            <strong class="upvote-count-{{comment.id}}">{{comment.upvote_set.count}}</strong><br />
                            <span class="text-success">
                                <i class="fa fa-arrow-up fa-2x upvote-click" data-comment="{{comment.id}}"></i>
                            </span>
                        </div>
                        <div class="downvote mt-3">
                            <span class="text-danger">
                                <i class="fa fa-arrow-down fa-2x downvote-click" data-comment="{{comment.id}}"></i>
                            </span><br />
                            <strong class="downvote-count-{{comment.id}}">{{comment.downvote_set.count}}</strong>
                        </div>
                    </div>
                    <div class="col-11 d-flex align-self-center">
                        <blockquote class="blockquote">
                            <p class="mb-0">{{ comment.content }}</p>
                            <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user|capfirst
                                    }}</cite></footer>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
            </div>

            </form>
        </div>
    </div>

    <div class="py-5 bg-light mx-md-3 sec-subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h4 fw-bold">Subscribe to newsletter</h2>
                </div>
            </div>
            <form action="" class="row">
                <div class="col-md-8">
                    <div class="mb-3 mb-md-0">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                </div>
                <div class="col-md-4 d-grid">
                    <input type="submit" class="btn btn-primary" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    <script>
        $(document).ready(function () {
            $(".upvote-click").on('click', function () {
                var commentid = $(this).data('comment');
                console.log(commentid);
                // Ajax
                $.ajax({
                    url: "{% url 'blogs:save-upvote' %}",
                    type: "post",
                    data: {
                        commentid: commentid,
                        csrfmiddlewaretoken: "{{csrf_token}}"
                    },
                    dataType: 'json',
                    success: function (res) {
                        var _prevupvote = $(".upvote-count-" + commentid).text();
                        if (res.bool == true) {
                            $(".upvote-count-" + commentid).text(parseInt(_prevupvote) + 1);
                        }
                    }
                });
            });

            // Downvote
            $(".downvote-click").on('click', function () {
                var commentid = $(this).data('comment');
                console.log(commentid);
                // Ajax
                $.ajax({
                    url: "{% url 'blogs:save-downvote' %}",
                    type: "post",
                    data: {
                        commentid: commentid,
                        csrfmiddlewaretoken: "{{csrf_token}}"
                    },
                    dataType: 'json',
                    success: function (res) {
                        var _prevupvote = $(".downvote-count-" + commentid).text();
                        if (res.bool == true) {
                            $(".downvote-count-" + commentid).text(parseInt(_prevupvote) + 1);
                        }
                    }
                });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', '#createLink', function (event) {
                event.preventDefault();
                $.ajax(
                    {
                        url: $(this).attr('href'),
                        type: 'get',
                        data: {
                        },
                        success: function (data) {
                            var temp = "{{ request.get_host }}/blogs/edit_access/" + data['key'];
                            $('#shareLink').text(temp);
                        }
                    }
                )
            })
        })
    </script>
{% endblock %}