{% extends 'base.html' %}

{% block title %}
| createBlog
{% endblock %}

{% block content %}
{% load static %}
<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/createBlog.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="//cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
    
</head>

<div class="container-fluid">
    <div class="container">
        <div class="col-sm-12 cv-cont">
            <div class="header row">
                <h2 style="color: Black; text-align:center;">Write Your Blog</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Blog Title" />
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Blog Image browse <input type="file" name="image" multiple>
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly style="height: 1.1cm;">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary btn-file">
                                Enter Tags
                            </span>
                        </span>
                        <input type="text" class="form-control">
                    </div>
                </div> -->
                <div class="form-group">
                    <label>Content*<div class="text-muted">
                        (Please write 2-3 lines of unformatted introductory paragraph in the beginning)
                    </div></label>
                    <textarea class="form-control bcontent" name="content" rows="20" cols="50"></textarea>
                </div>
                <div class="form-group">
                    <label>Tags*<div class="text-muted">
                        (Seperated by Commas)
                    </div></label>
                    <input type="text" class="form-control" name="tags" placeholder="Coding,Algorithms" />
                </div>
                <div class="form-group">
                    <input type="submit" name="Submit" value="Submit"
                        class="btn btn-primary form-control" script />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    CKEDITOR.replace("content");
</script>
{% endblock %}