{% extends 'base.html' %}

{% block title %}
| home
{% endblock %}
{% block content %}

{% load static %}

<div class="section pt-5 pb-0">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-lg-7 text-center">
				<h2 class="heading">Trending</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="posts-slide-wrap">
					<div class="posts-slide" id="posts-slide">
						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="{% url 'home:open_blog' %}">
										<img src="{% static 'images/xpost_lg_1.jpg.pagespeed.ic.vC5886c_pL.jpg'%}" alt="Image" class="img-fluid">
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy
											customers
											are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia
										and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language
										ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="{% static 'images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg'%}"
												alt="Image" >
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="% url 'home:open_blog' %}">
										<img src="../static/images/xpost_lg_2.jpg.pagespeed.ic.YbC8FwTKmr.jpg"
											alt="Image" class="img-fluid" >
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy
											customers
											are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia
										and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language
										ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
												alt="Image" >
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="{% url 'home:open_blog' %}">
										<img src="../static/images/xpost_lg_3.jpg.pagespeed.ic.qhXWgmNnIn.jpg"
											alt="Image" class="img-fluid">
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy
											customers
											are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia
										and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language
										ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
												alt="Image" >
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="% url 'home:open_blog' %}">
										<img src="../static/images/xpost_lg_4.jpg.pagespeed.ic.oJIp7wddWl.jpg"
											alt="Image" class="img-fluid" >
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy
											customers
											are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia
										and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language
										ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
												alt="Image" >
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section" style="margin-bottom: 0ch;">
	<div class="container" style="margin-bottom: 0ch;">
		<div class="row g-5">
			<div class="col-lg-4">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="{% url 'home:open_blog' %}">
							<img src="../static/images/ximg_2.jpg.pagespeed.ic.tehDa3FPWy.jpg" alt="Image"
								class="img-fluid">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="{% url 'home:open_blog' %}">Your most unhappy
								customers are
								your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and
							Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div class="section" style="margin-top: 0%;">
	<div class="container" style="margin-top: 0ch; margin-bottom: 0%;">
		<div class="row g-5">
			<div class="col-lg-6">
				<div class="row mb-4">
					<div class="col-12">
						<h2 class="h4 fw-bold">Sports</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg" alt="Image"
									class="img-fluid">
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
									&mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy
										customers are
										your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image" >
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row mb-4">
					<div class="col-12">
						<h2 class="h4 fw-bold">Business</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg" alt="Image"
									class="img-fluid" >
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
									&mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy
										customers are
										your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image">
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}