{% extends 'base.html' %}
<!-- Banner start -->
{% block title %}
| home
{% endblock %}
{% block content %}

{% load static %}
<div class="section pt-5 pb-0">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-lg-7 text-center">
				<h2 class="heading">Trending</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="posts-slide-wrap">
					<div class="posts-slide" id="posts-slide">
						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="{% url 'home:open_blog' %}">
										<script data-pagespeed-no-defer>//<![CDATA[
											(function () {
												for (var g = "function" == typeof Object.defineProperties ? Object.defineProperty : function (b, c, a) { if (a.get || a.set) throw new TypeError("ES3 does not support getters and setters."); b != Array.prototype && b != Object.prototype && (b[c] = a.value) }, h = "undefined" != typeof window && window === this ? this : "undefined" != typeof global && null != global ? global : this, k = ["String", "prototype", "repeat"], l = 0; l < k.length - 1; l++) { var m = k[l]; m in h || (h[m] = {}); h = h[m] }
												var n = k[k.length - 1], p = h[n], q = p ? p : function (b) { var c; if (null == this) throw new TypeError("The 'this' value for String.prototype.repeat must not be null or undefined"); c = this + ""; if (0 > b || 1342177279 < b) throw new RangeError("Invalid count value"); b |= 0; for (var a = ""; b;)if (b & 1 && (a += c), b >>>= 1) c += c; return a }; q != p && null != q && g(h, n, { configurable: !0, writable: !0, value: q }); var t = this;
												function u(b, c) { var a = b.split("."), d = t; a[0] in d || !d.execScript || d.execScript("var " + a[0]); for (var e; a.length && (e = a.shift());)a.length || void 0 === c ? d[e] ? d = d[e] : d = d[e] = {} : d[e] = c }; function v(b) { var c = b.length; if (0 < c) { for (var a = Array(c), d = 0; d < c; d++)a[d] = b[d]; return a } return [] }; function w(b) { var c = window; if (c.addEventListener) c.addEventListener("load", b, !1); else if (c.attachEvent) c.attachEvent("onload", b); else { var a = c.onload; c.onload = function () { b.call(this); a && a.call(this) } } }; var x; function y(b, c, a, d, e) { this.h = b; this.j = c; this.l = a; this.f = e; this.g = { height: window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight, width: window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth }; this.i = d; this.b = {}; this.a = []; this.c = {} }
												function z(b, c) {
													var a, d, e = c.getAttribute("data-pagespeed-url-hash"); if (a = e && !(e in b.c)) if (0 >= c.offsetWidth && 0 >= c.offsetHeight) a = !1; else { d = c.getBoundingClientRect(); var f = document.body; a = d.top + ("pageYOffset" in window ? window.pageYOffset : (document.documentElement || f.parentNode || f).scrollTop); d = d.left + ("pageXOffset" in window ? window.pageXOffset : (document.documentElement || f.parentNode || f).scrollLeft); f = a.toString() + "," + d; b.b.hasOwnProperty(f) ? a = !1 : (b.b[f] = !0, a = a <= b.g.height && d <= b.g.width) } a && (b.a.push(e),
														b.c[e] = !0)
												} y.prototype.checkImageForCriticality = function (b) { b.getBoundingClientRect && z(this, b) }; u("pagespeed.CriticalImages.checkImageForCriticality", function (b) { x.checkImageForCriticality(b) }); u("pagespeed.CriticalImages.checkCriticalImages", function () { A(x) });
												function A(b) {
													b.b = {}; for (var c = ["IMG", "INPUT"], a = [], d = 0; d < c.length; ++d)a = a.concat(v(document.getElementsByTagName(c[d]))); if (a.length && a[0].getBoundingClientRect) {
														for (d = 0; c = a[d]; ++d)z(b, c); a = "oh=" + b.l; b.f && (a += "&n=" + b.f); if (c = !!b.a.length) for (a += "&ci=" + encodeURIComponent(b.a[0]), d = 1; d < b.a.length; ++d) { var e = "," + encodeURIComponent(b.a[d]); 131072 >= a.length + e.length && (a += e) } b.i && (e = "&rd=" + encodeURIComponent(JSON.stringify(B())), 131072 >= a.length + e.length && (a += e), c = !0); C = a; if (c) {
															d = b.h; b = b.j; var f; if (window.XMLHttpRequest) f =
																new XMLHttpRequest; else if (window.ActiveXObject) try { f = new ActiveXObject("Msxml2.XMLHTTP") } catch (r) { try { f = new ActiveXObject("Microsoft.XMLHTTP") } catch (D) { } } f && (f.open("POST", d + (-1 == d.indexOf("?") ? "?" : "&") + "url=" + encodeURIComponent(b)), f.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"), f.send(a))
														}
													}
												}
												function B() { var b = {}, c; c = document.getElementsByTagName("IMG"); if (!c.length) return {}; var a = c[0]; if (!("naturalWidth" in a && "naturalHeight" in a)) return {}; for (var d = 0; a = c[d]; ++d) { var e = a.getAttribute("data-pagespeed-url-hash"); e && (!(e in b) && 0 < a.width && 0 < a.height && 0 < a.naturalWidth && 0 < a.naturalHeight || e in b && a.width >= b[e].o && a.height >= b[e].m) && (b[e] = { rw: a.width, rh: a.height, ow: a.naturalWidth, oh: a.naturalHeight }) } return b } var C = ""; u("pagespeed.CriticalImages.getBeaconData", function () { return C });
												u("pagespeed.CriticalImages.Run", function (b, c, a, d, e, f) { var r = new y(b, c, a, e, f); x = r; d && w(function () { window.setTimeout(function () { A(r) }, 0) }) });
											})();

											pagespeed.CriticalImages.Run('/mod_pagespeed_beacon', 'https://preview.colorlib.com/theme/magdesign/index.html', '-ilGEe-FWC', true, false, 'FlKEyCQ-o8A');
//]]></script><img src="{% static 'images/xpost_lg_1.jpg.pagespeed.ic.vC5886c_pL.jpg'%}" alt="Image" class="img-fluid"
											data-pagespeed-url-hash="1105166545"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="{% static 'images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg'%}"
												alt="Image" data-pagespeed-url-hash="1813383360"
												onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="% url 'home:open_blog' %}">
										<img src="../static/images/xpost_lg_2.jpg.pagespeed.ic.YbC8FwTKmr.jpg"
											alt="Image" class="img-fluid" data-pagespeed-url-hash="1399666466"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
												alt="Image" data-pagespeed-url-hash="1813383360"
												onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="{% url 'home:open_blog' %}">
										<img src="../static/images/xpost_lg_3.jpg.pagespeed.ic.qhXWgmNnIn.jpg"
											alt="Image" class="img-fluid" data-pagespeed-url-hash="1694166387"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
												alt="Image" data-pagespeed-url-hash="1813383360"
												onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="post-entry d-lg-flex">
								<div class="me-lg-5 thumbnail mb-4 mb-lg-0">
									<a href="% url 'home:open_blog' %}">
										<img src="../static/images/xpost_lg_4.jpg.pagespeed.ic.oJIp7wddWl.jpg"
											alt="Image" class="img-fluid" data-pagespeed-url-hash="1988666308"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</a>
								</div>
								<div class="content align-self-center">
									<div class="post-meta mb-3">
										<a href="#" class="category">Business</a>, <a href="#"
											class="category">Travel</a> &mdash;
										<span class="date">July 2, 2020</span>
									</div>
									<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
											greatest source of learning.</a></h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts. Separated they live in
										Bookmarksgrove right at the coast of the Semantics, a large language ocean.
									</p>
									<a href="#" class="post-author d-flex align-items-center">
										<div class="author-pic">
											<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
												alt="Image" data-pagespeed-url-hash="1813383360"
												onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
										</div>
										<div class="text">
											<strong>Sergy Campbell</strong>
											<span>CEO and Founder</span>
										</div>
									</a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section" style="margin-bottom: 0ch;">
	<div class="container" style="margin-bottom: 0ch;">
		<div class="row g-5">
			<div class="col-lg-4">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="{% url 'home:open_blog' %}">
							<img src="../static/images/ximg_2.jpg.pagespeed.ic.tehDa3FPWy.jpg" alt="Image"
								class="img-fluid" data-pagespeed-url-hash="3151298507"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="{% url 'home:open_blog' %}">
							<img src="../static/images/ximg_3.jpg.pagespeed.ic.MzyTwPvJuu.jpg" alt="Image"
								class="img-fluid" data-pagespeed-url-hash="3445798428"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="{% url 'home:open_blog' %}">
							<img src="../static/images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg" alt="Image"
								class="img-fluid" data-pagespeed-url-hash="3740298349"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="#">Your most unhappy customers are your greatest source of
								learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="{% url 'home:open_blog' %}">
							<img src="../static/images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg" alt="Image"
								class="img-fluid" data-pagespeed-url-hash="3740298349"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="#">Your most unhappy customers are your greatest source of
								learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="{% url 'home:open_blog' %}">
							<img src="../static/images/ximg_5.jpg.pagespeed.ic.aehNfINE2q.jpg" alt="Image"
								class="img-fluid" data-pagespeed-url-hash="4034798270"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="#">Your most unhappy customers are your greatest source of
								learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="{% url 'home:open_blog' %}">
							<img src="../static/images/ximg_6.jpg.pagespeed.ic.Kuzv9hw150.jpg" alt="Image"
								class="img-fluid" data-pagespeed-url-hash="34330895"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="#">Your most unhappy customers are your greatest source of
								learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--
<div class="section">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-lg-7 text-center">
				<h2 class="heading">Most Popular Posts</h2>
			</div>
		</div>
	</div>
	<div class="most-popular-slider-wrap px-3 px-md-0">
		<div id="most-popular-nav">
			<span class="prev" data-controls="prev">Prev</span>
			<span class="next" data-controls="next">Next</span>
		</div>
		<div class="most-popular-slider" id="most-popular-center">
			<div class="item">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="single.html">
							<img src="../static/images/ximg_7.jpg.pagespeed.ic.w5W5PuCxbQ.jpg" alt="Image" class="img-fluid"
								data-pagespeed-url-hash="328830816"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="single.html">
							<img src="../static/images/ximg_2.jpg.pagespeed.ic.tehDa3FPWy.jpg" alt="Image" class="img-fluid"
								data-pagespeed-url-hash="3151298507"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="single.html">
							<img src="../static/images/ximg_3.jpg.pagespeed.ic.MzyTwPvJuu.jpg" alt="Image" class="img-fluid"
								data-pagespeed-url-hash="3445798428"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="single.html">
							<img src="../static/images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg" alt="Image" class="img-fluid"
								data-pagespeed-url-hash="3740298349"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="single.html">
							<img src="../static/images/ximg_5.jpg.pagespeed.ic.aehNfINE2q.jpg" alt="Image" class="img-fluid"
								data-pagespeed-url-hash="4034798270"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="post-entry d-block small-post-entry-v">
					<div class="thumbnail">
						<a href="single.html">
							<img src="../static/images/ximg_6.jpg.pagespeed.ic.Kuzv9hw150.jpg" alt="Image" class="img-fluid"
								data-pagespeed-url-hash="34330895"
								onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
						</a>
					</div>
					<div class="content">
						<div class="post-meta mb-1">
							<a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a>
							&mdash;
							<span class="date">July 2, 2020</span>
						</div>
						<h2 class="heading mb-3"><a href="single.html">Your most unhappy customers are your greatest
								source of learning.</a></h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
							there live the blind texts.</p>
						<a href="#" class="post-author d-flex align-items-center">
							<div class="author-pic">
								<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg" alt="Image"
									data-pagespeed-url-hash="1813383360"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="text">
								<strong>Sergy Campbell</strong>
								<span>CEO and Founder</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
<div class="section" style="margin-top: 0%;">
	<div class="container" style="margin-top: 0ch; margin-bottom: 0%;">
		<div class="row g-5">
			<div class="col-lg-6">
				<div class="row mb-4">
					<div class="col-12">
						<h2 class="h4 fw-bold">Sports</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_2.jpg.pagespeed.ic.tehDa3FPWy.jpg" alt="Image"
									class="img-fluid" data-pagespeed-url-hash="3151298507"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#"
										class="category">Travel</a> &mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image" data-pagespeed-url-hash="1813383360"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_3.jpg.pagespeed.ic.MzyTwPvJuu.jpg" alt="Image"
									class="img-fluid" data-pagespeed-url-hash="3445798428"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#"
										class="category">Travel</a> &mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image" data-pagespeed-url-hash="1813383360"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg" alt="Image"
									class="img-fluid" data-pagespeed-url-hash="3740298349"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#"
										class="category">Travel</a> &mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image" data-pagespeed-url-hash="1813383360"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row mb-4">
					<div class="col-12">
						<h2 class="h4 fw-bold">Business</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_2.jpg.pagespeed.ic.tehDa3FPWy.jpg" alt="Image"
									class="img-fluid" data-pagespeed-url-hash="3151298507"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#"
										class="category">Travel</a> &mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="% url 'home:open_blog' %}>Your most unhappy customers are your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image" data-pagespeed-url-hash="1813383360"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_3.jpg.pagespeed.ic.MzyTwPvJuu.jpg" alt="Image"
									class="img-fluid" data-pagespeed-url-hash="3445798428"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#"
										class="category">Travel</a> &mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image" data-pagespeed-url-hash="1813383360"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="post-entry d-md-flex xsmall-horizontal mb-5">
							<div class="me-md-3 thumbnail mb-3 mb-md-0">
								<img src="../static/images/ximg_4.jpg.pagespeed.ic.5BNsTZBCHP.jpg" alt="Image"
									class="img-fluid" data-pagespeed-url-hash="3740298349"
									onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
							</div>
							<div class="content">
								<div class="post-meta mb-1">
									<a href="#" class="category">Business</a>, <a href="#"
										class="category">Travel</a> &mdash;
									<span class="date">July 2, 2020</span>
								</div>
								<h2 class="heading"><a href="{% url 'home:open_blog' %}">Your most unhappy customers are your
										greatest source of learning.</a></h2>
								<a href="#" class="post-author d-flex align-items-center">
									<div class="author-pic">
										<img src="../static/images/xperson_1.jpg.pagespeed.ic.ku-D0yMWz5.jpg"
											alt="Image" data-pagespeed-url-hash="1813383360"
											onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
									</div>
									<div class="text">
										<strong>Sergy Campbell</strong>
										<span>Author, 26 published post</span>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-5 bg-light mx-md-3 sec-subscribe" style="margin-top: 0%; margin-bottom: 0%;">
	<div class="container" style="margin-top: 0%; margin-bottom: 0%;">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="h4 fw-bold">Subscribe to newsletter</h2>
			</div>
		</div>
		<form action="" class="row">
			<div class="col-md-8">
				<div class="mb-3 mb-md-0">
					<input type="email" class="form-control" placeholder="Enter your email">
				</div>
			</div>
			<div class="col-md-4 d-grid">
				<input type="submit" class="btn btn-primary" value="Subscribe">
			</div>
		</form>
	</div>
</div>
{% endblock %}