{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="{% static 'css/signin_signup.css' %}">
</head>
<body>
    <div class="custom-control custom-switch mr-5">
        <input type="checkbox" class="custom-control-input" id="selector">
        <label class="custom-control-label" for="selector">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 text-center">
                    <h6 class="heading"><strong>Dark mode</strong></h6>
                </div>
            </div>
        </label>
    </div>
    <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
        <div class="card card0 border-0">
            <div class="row d-flex">
                <div class="col-lg-6">
                    <div class="card1 pb-5">
                        <div class="col-md-6 text-left order-1 order-md-2 mb-3 mb-md-0" style="position: relative; top: .3cm;">
                            <a href="{% url 'home:index' %}" class="logo m-0 text-uppercase" style="font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 30px; text-decoration: none;">Tech Blog</a>
                        </div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="{% static 'images/tech.6.png'%}" class="image" style="height: 500px; width: 90%; margin-top: 1.5cm;" > </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mb-3 px-3">
                            <h6 class="mb-0 mr-4 mt-2">Sign Up with</h6>
                            <div class="facebook text-center mr-3">
                                <div class="fa fa-facebook"></div>
                            </div>
                            <div class="twitter text-center mr-3">
                                <div class="fa fa-twitter"></div>
                            </div>
                            <div class="linkedin text-center mr-3">
                                <div class="fa fa-linkedin"></div>
                            </div>
                        </div>
                        <div class="row px-3 mb-3">
                            <div class="line"></div> <small class="or text-center">Or</small>
                            <div class="line"></div>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="row px-3"> <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Username</h6>
                                </label> <input class="mb-2" type="text" name="username" placeholder="Enter a Username" > 
                                </div>
                                <div class="row px-3" style="margin-left: -0.79cm; margin-right: -0.83cm;"> 
                                <div class="col-lg-6">
                                    <label class="f_name">
                                        <h6 class="mb-0 text-sm">First Name</h6>
                                    </label> <input class="mb-2" type="text" name="first_name" placeholder="First Name">
                                    
                                </div>
                                <div class="col-lg-6">
                                    <label class="l_name">
                                        <h6 class="mb-0 text-sm">Last Name</h6>
                                    </label> <input class="mb-2" type="text" name="last_name" placeholder="Last Name">
                                    
                                </div>
                                
                            </div>
                            <div class="row px-3">
                                <label class="mb-1" for="img">
                                    <h6 class="mb-0 text-sm">Select Profile Picture:</h6>
                                </label>
                                <input class="mb-2" type="file" id="img" name="image">
                            </div>
                            <!-- <div class="row px-3"> 
                                <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Interest</h6>
                                </label> 
                                <select name="interest" id="int" style="width: 100%; height: 1cm; margin-bottom: 0.3cm;">
                                    <option value="">Item1</option>
                                    <option value="">Item2</option>
                                    <option value="">Item3</option>
                                    <option value="">Item4</option>
                                    <option value="">Item5</option>
                                </select>
                            </div> -->
                            <div class="row px-3"> <label class="mb-1">
                                    <h6 class="mb-0 text-sm">Email Address</h6>
                                </label> <input class="mb-2" type="text" name="email" placeholder="Enter a valid email address" > 
                            </div>
                            <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Password</h6>
                                </label> <input class="mb-2" type="password" name="password1" placeholder="Enter password"> 
                            </div>
                            <div class="row px-3"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Confirm Password</h6>
                                </label> <input class="mb-3" type="password" name="password2" placeholder="Enter password"> 
                            </div>
                    
                            <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center">Register</button> </div>
                        </form>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer" style="position: relative; top: -2cm; height: 20px; height: 20px;">
        <div class="container" style="margin-bottom: 0cm; margin-bottom: 0%;">
            <div class="row justify-content-center copyright" style="margin-bottom: 0cm; margin-bottom: 0%;">
                <div class="col-lg-7 text-center">
                    <div class="widget">
                        <ul class="social list-unstyled">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#"><span class="fa fa-youtube-play"></span></a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank" rel="nofollow noopener">Colorlib</a>
                        </p>
                        <div class="d-block">
                            <a href="#" class="m-2">Terms &amp; Conditions</a>/
                            <a href="#" class="m-2">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon='{"rayId":"69f85ddb39d6d57f","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.9.0","si":100}'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>